.about {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.about h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.about p {
    margin-bottom: 1.5em;
}

.about div {
    margin-bottom: 1em;
}
